// mastodon/components.scss
.compose-form {
  .compose-form__buttons-wrapper {
    background: $ui-base-color;

    .character-counter__wrapper {
      .character-counter {
        color: lighten($ui-primary-color, 33%);
      }
    }
  }
}

.dropdown-menu__item {
  a {
    &:focus,
    &:hover,
    &:active {
      background: darken($ui-secondary-color, 20%);
      color: $ui-secondary-color;
      outline: 0;
    }
  }
}

.search-popout {
  color: $ui-simple-bg-contrast;
  h4 {
    color: $ui-simple-bg-contrast;
  }
}

// mastodon/emoji_picker.scss

.emoji-mart-anchors {
  color: $ui-simple-bg-contrast;
}

// mastodon/stream_entries.scss
.activity-stream {
  .entry {
    .detailed-status.light,
    .status.light,
    .more.light {
      border-bottom: 1px solid $ui-simple-bg-contrast;
      .display-name {
        span {
          color: $ui-simple-bg-contrast;
        }
      }
    }
  }

  .status.light {
    .status__header {
      .status__meta {
        .status__relative-time {
          color: $ui-simple-bg-contrast;
        }
      }
    }
  }

  .detailed-status.light {
    .detailed-status__display-name {
      span {
        color: $ui-simple-bg-contrast;
      }
    }
  }

  .detailed-status__meta {
    color: $ui-simple-bg-contrast;
  }
}