- content_for :page_title do
	= site_hostname
	
.content
	.box-widget
		.rich-formatting
			%h1 Donations
			
			%p Inditoot isn't owned and operated by a large corporation, instead it is run as a passion project. Due to the fact that we run completely free of ads, we have to rely on your help to keep the lights on around here.
			
			%p If you want to support us please choose any of the options given below:
			%br
			
			
			
			%h2 Donate using Paypal
			
			%p You can donate any amount you wish to any one of them.
			
			%p Both work hard in their free time to make sure to keep the server well and running!
			
			%p= "#{link_to 'Paypal link of Vaibhav', 'https://www.paypal.com/paypalme2/vaibhavg26'}".html_safe  
			
			%p= "#{link_to 'Paypal link of Akarshan', 'https://www.paypal.me/AkarshanBiswas'}".html_safe
			%br
			
			
			
			%h2 Support using liberapay
			
			%p= "You can support us through liberapay #{link_to 'here!', 'https://liberapay.com/inditoot/donate'}".html_safe
			%br
			
			
			%h2 Support through using Brave Browser
			
			%p= "You can also support us by downloading brave browser from #{link_to 'here.', 'https://brave.com/ind310'} You don't have spend a single penny here. Just run Inditoot on brave browser. That's it!".html_safe
			%br
			
			
			%h2 Donations through UPI

			%p= "Please consider donating using #{link_to 'UPI', 'http://cashlessindia.gov.in/upi.html'} to this address: inditoot@upi".html_safe
			%br
			
			
			%h2 Our Sponsors
			
			%p We will show a list of our sponsors here
			%br
			
			
			
			%h2 Donated but not listed?
			
			%p Please ping one of the admins of Inditoot and let them know about this. Updating this page is a manual process and might take some time.
			
			
			
			
			
